/* header */
header {
    background: url(images/header_img.jpg)no-repeat;
    width: 100%;
    margin: auto;
    margin-bottom: 70px;
    border-bottom: 1px solid #cbcbcb;
    background-size: cover;
}

.headerbox {
    width: 1200px;
    height: 195px;
    margin: auto;
    position: relative;
    border-top: 1px solid white;
}

.logo {
    float: left;
    margin-left: 63px;
    margin-top: 120px;
}

.gnb_icon {
    position: absolute;
    left: 1px;
    top: 141px
}

.gnb1 {
    float: left;
    margin-left: 38px;
}

.gnb2 {
    float: left;
    margin-left: 34px;
}

.gnb3 {
    float: left;
    margin-left: 52px;
}

.gnb4 {
    float: left;
    margin-left: 34px;
}

.gnb5 {
    float: left;
    margin-left: 40px;
}

.gnb ul {
    margin-top: 144px
}


.login {
    position: absolute;
    right: 1px;
    bottom: 12px;
}

/* 
.gnb1 dl {
    float: left;
} */

.gnb1 dl {
    width: 100%;
    height: 304px;
    position: absolute;
    left: 17px;
    top: 220px;
    box-sizing: border-box;
    color: #353535;
}

.gnb2 dl {
    width: 300px;
    position: absolute;
    left: 316px;
    top: 220px;
    box-sizing: border-box;
    color: #353535;
}

.gnb3 dl {
    width: 300px;
    height: 304px;
    position: absolute;
    left: 615px;
    top: 220px;
    box-sizing: border-box;
    color: #353535;
}

.gnb4 dl {
    width: 300px;
    height: 304px;
    position: absolute;
    left: 917px;
    top: 220px;
    box-sizing: border-box;
    color: #353535;
}

.gnb dt {
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 15pt;
}

.gnb dd {
    line-height: 1.5;
    font-size: 12pt;
    background: url(images/sub_bar_03.jpg)no-repeat left;
    padding-left: 10px;
}

header dl {
    display: none;
}

/* main */
.wrap {
    min-width: 1200px;
}

.search {
    width: 1000px;
    margin: 0 auto 70px;
}

input[type=search] {
    width: 850px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #353535
}

input[type=submit] {
    width: 120px;
    height: 30px;
    margin-left: 26px;
}

.qna {
    width: 1000px;
    height: 260px;
    margin: auto;
    border-bottom: 1px solid #79c9ff;
}

.qna h2 {
    font-weight: bold;
    font-size: 25pt;
    color: #09376c
}

.recruit {
    width: 530px;
    height: 190px;
    border-right: 1px solid #79c9ff;
    float: left;
}

.recruit dt {
    margin: 40px 0 0 30px;
    font-weight: bold;
    font-size: 20pt;
}

.recruit_box1 {
    margin: 20px 0 0 55px;
}

.provision {
    width: 400px;
    height: 190px;
    float: left;

}

.provision dt {
    margin: 40px 0 0 30px;
    font-weight: bold;
    font-size: 20pt;
}

.provision_box1 {
    margin: 20px 0 0 55px;
}

.faq_wrap {
    width: 1000px;
    height: 750px;
    margin: 0 auto 60px;
    position: relative;
}

.faq_wrap h2 {
    margin: 60px 0;
    font-weight: bold;
    font-size: 25pt;
    color: #09376c
}

.from {
    width: 900px;
    height: 20px;
    float: right
}

.title {
    width: 900px;
    height: 20px;
    float: right;
}

.desc {
    width: 1000px;
    height: 500px;
    box-sizing: border-box;
}

.faq_wrap ul li {
    font-size: 15pt;
    line-height: 28px;
}

.from_wrap {
    margin-bottom: 10px;
}

.title_wrap {
    margin-bottom: 10px;
}

.qna_button {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100px;
    height: 30px;
    border-radius: 50px;
    background: #0099ff;
    color: white;
    border: 0px
}

/* footer */
footer {
    width: 100%;
    height: 320px;
    margin: auto;
    border-top: 1px solid #95c8eb;
    background: url(images/footer_img.jpg)no-repeat;
    background-size: cover;
}

.info {
    width: 1200px;
    height: 53px;
    margin: 0 auto 49px;
}

.footer1 {
    float: left;
}

.footer2 {
    float: left;
    margin-left: 151px
}

.footer3 {
    float: left;
    margin-left: 151px
}

.footer4 {
    float: left;
    margin-left: 151px
}

.footer5 {
    float: left;
    margin-left: 151px
}

.footer_bottom {
    width: 1200px;
    margin: auto;
}

.footer_logo {
    float: left;
    margin: 49px 0 0 54px;
}

.footer_desc {
    float: right;
    line-height: 32px;
    width: 873px;
}

.desc1 p {
    float: left;
}

.desc2 p {
    float: left;
}

.copyright {
    clear: both;
}